.search_result {
  width: 100%;
  .inner_search_result {
    width: 100%;
    .search_result {
      font-size: 16px;
      padding: 0 0 15px 7.5px;
    }
    .bus_station {
      h3 {
        font-size: 12px;
        padding: 5px 0 5px 5px;
        background-color: #ffad62;
      }
      .bus_station_list {
        height: 346px;
        overflow-y: scroll;
        li {
          font-size: 12px;
          border-bottom: none;
          cursor: pointer;
        }
        .station_list {
          font-size: 12px;
          border-bottom: 1px solid #c1c1c1;
          padding: 5px 0;
          text-indent: 5px;
          &:hover {
            color: #0013e7;
          }
        }
      }
    }
    .busNum {
      h3 {
        font-size: 12px;
        padding: 5px 0 5px 5px;
        background-color: #ffad62;
      }
      .busNum_list {
        height: 346px;
        overflow-y: scroll;
        .no_result {
          font-size: 12px;
          text-indent: 5px;
          border: none;
        }
        li {
          text-indent: 5px;
          border-bottom: 1px solid #c2c2c2;
        }
      }
    }
    .bus_info_box {
      border: 1px solid #888;
      margin: 10px;
      padding: 12px 12px 0 12px;
      &:hover {
        background-color: #f9f9f9;
      }
      h4 {
        padding-bottom: 3px;
        margin-bottom: 3px;
        border-bottom: 3px solid #8d8d8d;
        span {
          cursor: pointer;
        }
        .bus_category {
          font-size: 10px;
          margin-right: 5px;
          padding: 1px 3px;
          border-radius: 7px;
          color: #fff;
        }
        .red {
          background-color: red;
        }
        .orange {
          background-color: #ff7f00;
        }
        .blue {
          background-color: blue;
        }
        .green {
          background-color: green;
        }
        .yellow {
          background-color: yellow;
        }
      }
      .start_end_point {
        font-size: 12px;
        padding-bottom: 5px;

        svg {
          font-size: 12px;
          margin: 0 5px;
        }
      }
      .corp {
        font-size: 12px;
        margin-bottom: 7px;
      }
      .bus_time {
        font-size: 12px;
        li {
          &:last-child {
            margin-bottom: 8px;
          }
        }
      }
    }
  }
}

.pagination-ul {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  li {
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid #e2e2e2;
    font-size: 12px;
    &:active {
      background-color: #337ab7;
    }
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      text-decoration: none;
      color: #337ab7;
      &:active {
        color: #fff;
      }
      &:hover {
        color: blue;
      }
    }
  }
  .currentPage {
    border: 1px solid #337ab7;
  }
}
